/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  width: 428px;
  border: 1px solid black;
}

header {
  text-align: center;
  background: #d7a1fd;
  font-family: Noto Serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  color: #000;
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800;
  padding: 20px 20px 0px 20px;
}
strong {
  font-family: Noto Serif;
  font-weight: 300;
  text-transform: uppercase;
}

.p-header {
  font-size: 20px;
  padding-bottom: 20px;
}

nav {
  background: #000;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.on {
  font-family: Noto Serif;
  text-align: center;
}

.h1-on {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 30px 20px 20px 20px;
}

.square {
  border: 1px solid #000;
  margin: 0 20px 20px 20px;
}

.p-square {
  font-family: Noto Serif;
  font-size: 15px;
  padding: 10px 20px 30px 20px;
}

.h3-square {
  font-family: Nunito Sans;
  font-size: 30px;
  text-transform: uppercase;
}

.img-on {
  border-bottom: 7px solid #d7a1fd;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  background-color: #000;
  color: #d7a1fd;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
  padding: 20px 30px;
  margin: 30px 77px 60px 77px;
}

.green {
  background: #98fb00;
  padding: 20px;
  margin: 0px;
}

.citation {
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  padding: 0 20px 20px 0px;
}

.p-citation {
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  text-transform: uppercase;
}

.new {
  background: #f4ede8;
}

.h2-new {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
  padding: 40px 20px 20px 20px;
}

.round {
  margin: 20px;
  border-radius: 20px;
  background: #fff;
}

.img-round {
  border-radius: 20px 20px 0 0;
}

.p-round {
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}

em {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.opportunities {
  background: #fff;
  padding-top: 0;
}

.box {
  padding: 15px;
  font-family: "Playfair Display", serif;
}

footer {
  background: #000;
  text-align: center;
  font-family: Nunito Sans;
  padding: 20px;
}

.h2-footer {
  color: #313131;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
}

.h3-footer {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  padding: 20px 0 0 0;
}

.p-footer a {
  color: #fff;
  font-family: Noto Serif;
  font-weight: 300;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}
